body.app {
  background: rgb(220, 212, 239);
}

ul {
  list-style: none;
}
h1 {
  font-family: "Ubuntu", sans-serif;
  margin: 20px 0 10px;

  font-weight: 700;
  font-size: 38px;
  color: #272142;
}
.weather-app {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  margin: 50px;
  color: #878787;
}
#search-btn {
  background: rgb(200, 124, 228);
  border: rgb(181, 108, 208);
}
#temperature {
  font-family: "Ubuntu", sans-serif;
  margin: 20px 0 10px;
  font-weight: 700;
  font-size: 70px;
  color: #272142;
  position: relative;
  top: 19px;
}
